:host {
  display: flex;
}

.group-events-page__side {
  margin-right: 64px;
  margin-bottom: 32px;
  flex-basis: 240px;
  flex-shrink: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
  height: 100%;
}

.group-events-page__main {
  flex-grow: 1;
  margin-bottom: 32px;
}
