.dialog-form {
  &__header {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    padding: 4px 0px;
  }

  &__footer {
    padding: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > * {
      margin-left: 16px;
    }
  }
}
