.toast {
  position: fixed;
  top: 80px;
  right: 16px;
  z-index: 9999;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);

  display: flex;
  align-items: flex-start;
  padding: 16px;
  overflow: hidden;
  border-radius: 4px;
  width: 320px;
  min-height: 48px;
  box-sizing: border-box;

  &__flash {
    position: absolute;
    height: 100%;
    width: 4px;
    left: 0;
    top: 0;
    flex: 0 0 auto;
  }

  &__icon {
    flex: 0 0 auto;
  }

  &__body {
    flex: 1 1 auto;
    &__title {
      margin-bottom: 8px;
    }
    padding: 0 16px;

    &__message {
      text-align: justify;
    }
  }

  &__close-button {
    margin: -16px;
    &__icon {
      font-size: 16px;
      height: 16px;
      width: 16px;
    }
  }
}
