<app-page-container class="home-page">
  <app-section class="home-page__section">
    <app-section-header>
      <h1>Your Groups</h1>
      <a routerLink="/groups">See all</a>
    </app-section-header>
    <app-group-list [groups]="(groups$ | async)!"></app-group-list>
  </app-section>

  <app-section class="home-page__section">
    <app-section-header>
      <h1>Your Upcoming Events</h1>
      <a routerLink="/events">See all</a>
    </app-section-header>
    <app-event-list [events]="(events$ | async)!">
      <div class="event-list__empty">You have no upcoming events!</div>
    </app-event-list>
  </app-section>
</app-page-container>
