<dialog-form>
  <dialog-form-title>{{ title }}</dialog-form-title>

  <form dialog-form-body class="group-upsert-form" [formGroup]="groupCreateForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
  <div dialog-form-footer>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      (click)="submit()"
      [disabled]="groupCreateForm.invalid"
      [loadingSpinner]="(isSubmitting$ | async)!"
    >
      {{ submitText }}
    </button>
  </div>
</dialog-form>
