<dialog-form>
  <dialog-form-title>{{ title }}</dialog-form-title>

  <div dialog-form-body>
    <form [formGroup]="groupCreateForm">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </form>
  </div>
  <div dialog-form-footer>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      (click)="submit()"
      [disabled]="groupCreateForm.invalid"
      [loadingSpinner]="(isSubmitting$ | async)!"
    >
      {{ submitText }}
    </button>
  </div>
</dialog-form>
