<div class="group-home-page__main">
  <app-group-description></app-group-description>

  <app-section class="group-home-page__main__section">
    <app-section-header>
      <div class="mat-headline-6">Upcoming Events</div>
      <a routerLink="../events">See all</a>
    </app-section-header>
    <app-event-list [events]="(upcomingEvents$ | async)!"></app-event-list>
  </app-section>

  <app-section class="group-home-page__main__section">
    <app-section-header>
      <div class="mat-headline-6">Past Events</div>
      <a routerLink="../events">See all</a>
    </app-section-header>
    <app-event-list [events]="(pastEvents$ | async)!"></app-event-list>
  </app-section>
</div>
<app-group-member-grid class="group-home-page__side"></app-group-member-grid>
