.group-home-page {
  &--desktop {
    display: flex;
  }

  &--desktop &__main {
    flex-basis: 50ch;
    flex-shrink: 0;
    flex-grow: 1;
  }

  &__section {
    padding-bottom: 32px;
    display: block;
  }

  &--desktop &__side {
    max-width: 328px;
    margin-left: 64px;
    position: -webkit-sticky;
    position: sticky;
    top: 24px;
    height: 100%;
  }
}
