:host {
  display: flex;
}

.group-home-page__main {
  flex-basis: 60ch;
  flex-shrink: 0;
  flex-grow: 1;
  &__heading {
    margin-bottom: 16px;
  }

  &__section {
    margin: 32px 0px;

    &__header {
      display: flex;
      justify-content: space-between;
    }
  }
}

.group-home-page__side {
  margin-left: 64px;
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
  height: 100%;
}
