<div
  class="group-home-page"
  [ngClass]="{ 'group-home-page--desktop': isDesktop$ | async, 'group-home-page--tablet': !(isDesktop$ | async)! }"
  *ngIf="currentGroup$ | async as group"
>
  <div class="group-home-page__main">
    <app-group-description></app-group-description>
    <app-section class="group-home-page__section">
      <app-section-header>
        <div class="mat-headline-6">Upcoming Events ({{ upcomingEventCount$ | async }})</div>
        <a routerLink="../events">See all</a>
      </app-section-header>
      <app-event-list [events]="(upcomingEvents$ | async)!">
        <div class="event-list--empty">No Upcoming events</div>
      </app-event-list>
    </app-section>

    <app-section class="group-home-page__section">
      <app-section-header>
        <div class="mat-headline-6">Past Events ({{ pastEventCount$ | async }})</div>
        <a routerLink="../events/past">See all</a>
      </app-section-header>
      <app-event-list [events]="(pastEvents$ | async)!">
        <div class="event-list--empty">No Past events</div>
      </app-event-list>
    </app-section>
  </div>
  <div class="group-home-page__side" *ngIf="isDesktop$ | async">
    <app-section class="group-home-page__section">
      <app-section-header>
        <div class="mat-headline-6">Organizers ({{ group.organizersCount }})</div>
        <a routerLink="../members">See all</a>
      </app-section-header>
      <app-group-member-grid [groupMembers]="(groupOrganizers$ | async)!" [max]="3"></app-group-member-grid>
    </app-section>

    <app-section class="group-home-page__section">
      <app-section-header>
        <div class="mat-headline-6">Members ({{ group.membersCount }})</div>
        <a routerLink="../members">See all</a>
      </app-section-header>
      <app-group-member-grid [groupMembers]="(groupMembers$ | async)!" [max]="6"></app-group-member-grid>
    </app-section>
  </div>
</div>
