:host {
  display: flex;
}

.group-home-page__main {
  flex-basis: 50ch;
  flex-shrink: 0;
  flex-grow: 1;

  &__section {
    margin: 32px 0px;
    display: block;
  }
}

.group-home-page__side {
  margin-left: 64px;
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
  height: 100%;
}
