<app-section class="event-attendee-list">
  <app-section-header
    ><div class="mat-headline-6">Attendees ({{ goingAttendeeCount$ | async }})</div>
  </app-section-header>
  <card>
    <mat-tab-group>
      <mat-tab *ngIf="goingAttendeeList$ | async as going" [label]="'Going (' + (goingAttendeeCount$ | async) + ')'">
        <div class="event-attendee-list__list">
          <app-event-attendee-list-item
            *ngFor="let attendee of going"
            [attendee]="attendee"
          ></app-event-attendee-list-item>
        </div>
      </mat-tab>
      <mat-tab
        *ngIf="notGoingAttendeeList$ | async as notGoing"
        [label]="'Not Going (' + (notGoingAttendeeCount$ | async) + ')'"
        [disabled]="notGoing.length === 0"
      >
        <div class="event-attendee-list__list">
          <app-event-attendee-list-item
            *ngFor="let attendee of notGoing"
            [attendee]="attendee"
          ></app-event-attendee-list-item>
        </div>
      </mat-tab>
    </mat-tab-group>
  </card>
</app-section>
