<app-section class="event-attendee-grid" *ngIf="visibleAttendees$ | async as attendees">
  <app-section-header>
    <div class="mat-headline-6">Attendees ({{ attendees.length }})</div>
    <a routerLink="../attendees">See all</a>
  </app-section-header>
  <div class="event-attendee-grid__grid">
    <div class="event-attendee-grid__grid__item" *ngFor="let a of attendees">
      <ng-container *ngIf="a">
        <img class="event-attendee-grid__grid__item__image" [src]="a.user?.picture" [alt]="a.user?.name" />
        <div class="event-attendee-grid__grid__item__name mat-body-1">{{ a.user?.name }}</div>
      </ng-container>
    </div>
  </div>
</app-section>
