<mat-toolbar class="toolbar mat-elevation-z1">
  <button mat-button class="toolbar__appName" routerLink="/">
    <mat-icon class="toolbar__appName__logo" color="primary">navigation</mat-icon>
    <div>Evntz</div>
  </button>
  <div class="flex-spacer"></div>
  <div class="toolbar__nav-list">
    <a
      mat-button
      class="toolbar__nav-list__item"
      *ngFor="let item of navList"
      [routerLink]="item.link"
      routerLinkActive="toolbar__nav-list__item--active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon class="toolbar__nav-list__item__icon">{{ item.icon }}</mat-icon>
      <div class="toolbar__nav-list__item__label">{{ item.label }}</div>
    </a>
  </div>

  <div class="flex-spacer"></div>
  <app-user-dropdown></app-user-dropdown>
</mat-toolbar>
