<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened>
    <div class="sidebar">
      <div class="sidebar__header">
        <mat-icon class="sidebar__header__logo" color="primary">navigation</mat-icon>
        <div class="sidebar__header__title mat-headline-5">evntz</div>
      </div>

      <div class="sidebar__nav-list">
        <a class="sidebar__nav-list__item" *ngFor="let item of navList" [routerLink]="item.link">
          <mat-icon class="sidebar__nav-list__item__icon">{{ item.icon }}</mat-icon>
          <div class="sidebar__nav-list__item__label">{{ item.label }}</div>
        </a>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar></app-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
