.example-container {
  height: calc(100vh);
  .mat-sidenav {
    min-width: 240px;
    background-color: #fafafa;
  }
  .mat-sidenav-content {
    height: calc(100vh);
  }
}

.sidebar {
  padding: 16px;

  &__header {
    display: flex;
    align-items: center;

    &__logo {
      font-size: 48px;
      height: 48px;
      width: 48px;
      margin: 0 8px;
    }

    &__title {
      font-size: 24px;
    }
  }

  &__nav-list {
    margin-top: 32px;

    &__item {
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 12px 16px;
      margin-bottom: 8px;
      cursor: pointer;

      &:hover {
        background-color: #455cc612;
      }

      &__icon {
        margin-right: 24px;
      }
    }
  }
}
