@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $foreground-palette: map.get($color-config, 'foreground');
  $background-palette: map.get($color-config, 'background');

  .group {
    &__picture {
      background-color: mat.get-color-from-palette($background-palette, status-bar);
    }

    &__desc {
      background-color: mat.get-color-from-palette($background-palette, card);
      &__member-count {
        color: mat.get-color-from-palette($foreground-palette, secondary-text);
      }
    }

    &__options {
      color: mat.get-color-from-palette($foreground-palette, secondary-text);
    }
  }
}

@mixin typography($typography-config) {
}

@mixin theme($theme, $typography-config) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  @if $typography-config != null {
    @include typography($typography-config);
  }
}
