.group {
  width: 240px;
  border-radius: 4px;
  height: 176px;
  background: white;
  overflow: hidden;
  cursor: pointer;

  &__picture {
    height: 96px;
    background-color: #e0e0e0;
  }

  &__desc {
    padding: 16px;
  }
}
