.group {
  width: 240px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

  &__picture {
    height: 128px;
  }

  &__desc {
    padding: 16px;
    border-radius: 8px;
    margin-top: -8px;

    &__member-count {
      margin-top: 4px;
    }
  }

  &__options {
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    transition: transform 0.2s;
    transform: scale(1.02);
  }
}
