<ng-container *ngIf="!hasEventPassed; else pastEvent">
  <ng-container *ngIf="attendee$ | async as attendee; else notAttendingYet">
    <button
      mat-flat-button
      *ngIf="attendee.isGoing"
      color="accent"
      class="event-going-button"
      [matMenuTriggerFor]="goingMenu"
    >
      <mat-icon>check</mat-icon>
      <span>Going</span>
      <mat-icon iconPositionEnd>expand_more</mat-icon>
    </button>
    <button
      mat-flat-button
      *ngIf="!attendee.isGoing"
      color="warn"
      class="event-going-button"
      [matMenuTriggerFor]="notGoingMenu"
    >
      <mat-icon>close</mat-icon>
      <span>Not Going</span>
      <mat-icon iconPositionEnd>expand_more</mat-icon>
    </button>

    <mat-menu #goingMenu="matMenu">
      <button mat-menu-item (click)="updateRsvp(attendee.id)">
        <mat-icon>edit</mat-icon>
        <span>Edit RSVP</span>
      </button>
    </mat-menu>

    <mat-menu #notGoingMenu="matMenu">
      <button mat-menu-item (click)="changeGoingStatus(attendee.id, true)">
        <mat-icon>check</mat-icon>
        <span>Attend</span>
      </button>
    </mat-menu>
  </ng-container>

  <ng-template #notAttendingYet>
    <button
      *ngIf="currentUserId | async as userId"
      mat-stroked-button
      class="event-going-button"
      color="primary"
      (click)="attendEvent(userId)"
    >
      Attend
    </button>
  </ng-template>
</ng-container>

<ng-template #pastEvent>
  <div *ngIf="(attendee$ | async)?.isGoing">You went to this event</div>
  <div *ngIf="!(attendee$ | async)?.isGoing">You did not attend this event</div>
</ng-template>
