@use '@angular/material' as mat;
@use '../typography.scss' as type;

// Dark theme
$primary: mat.define-palette(mat.$blue-grey-palette);
$accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$deep-orange-palette);
$success: mat.define-palette(mat.$light-green-palette);
$info: mat.define-palette(mat.$light-blue-palette);
$neutral: mat.define-palette(mat.$grey-palette);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    ),
    typography: type.$typography
  )
);

$variants: (
  success: $success,
  info: $info,
  neutral: $neutral
);
