<div class="task">
  <div class="task__details">
    <div class="task__details__name">{{ task.name }}</div>
    <div class="task__details__description mat-caption">{{ task.description }}</div>
  </div>
  <app-user-avatar-group
    class="task__users"
    *ngIf="(assignedUsers$ | async)!.length > 0; else noAssigned"
    [users]="(assignedUsers$ | async)!"
  ></app-user-avatar-group>
  <button class="task__buttons" mat-button [matMenuTriggerFor]="menu.menu"><mat-icon>more_vert</mat-icon>More</button>
</div>

<ng-template #noAssigned>
  <div class="task__users task__users--empty mat-caption">Up for grabs</div>
</ng-template>

<app-task-options-menu #menu="taskOptionsMenu" [task]="task"></app-task-options-menu>
