<div class="task">
  <div class="task__details">
    <div class="task__details__name">{{ task.name }}</div>
    <div class="task__details__description mat-caption">{{ task.description }}</div>
  </div>
  <app-user-avatar-group
    *ngIf="(assignedUsers$ | async)!.length > 0; else noAssigned"
    [users]="(assignedUsers$ | async)!"
  ></app-user-avatar-group>
  <div class="task__buttons">
    <button
      *ngIf="isCurrentUserAssigned$ | async; else assignedUser"
      class="task__button"
      mat-icon-button
      color="warn"
      (click)="unassignTask()"
    >
      <mat-icon>cancel</mat-icon>
    </button>
    <ng-template #assignedUser>
      <button class="task__button" mat-icon-button color="primary" (click)="assignTask()">
        <mat-icon>back_hand</mat-icon>
      </button>
    </ng-template>
    <button class="task__button" mat-icon-button (click)="editTask()"><mat-icon>edit</mat-icon></button>
    <button class="task__button" mat-icon-button (click)="deleteTask()"><mat-icon>delete</mat-icon></button>
  </div>
</div>

<ng-template #noAssigned>
  <div class="task__users--empty mat-caption">Up for grabs</div>
</ng-template>
