.task {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 8px;
  gap: 8px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;

  &__details {
    flex-grow: 1;
    &__name {
      margin-bottom: 4px;
    }
  }

  &__assign-btn {
    flex-shrink: 0;
  }

  &__buttons {
    display: flex;
    background-color: white;
    opacity: 0.9;
    gap: 8px;
    position: absolute;
    transition: 0.6s;
    top: 0%;
    left: 100%;
  }

  &:hover &__buttons {
    transform: translateX(calc(-100% - 8px));
  }
}
