@use '@angular/material' as mat;

$heading-font-family: "'Poppins', sans-serif";
$typography: mat.define-typography-config(
  $font-family: $heading-font-family,
  $headline-1: mat.define-typography-level(112px),
  $headline-2: mat.define-typography-level(56px),
  $headline-3: mat.define-typography-level(45px),
  $headline-4: mat.define-typography-level(34px),
  $headline-5: mat.define-typography-level(24px),
  $body-1: mat.define-typography-level(20px)
);
