@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $background-palette: map.get($color-config, 'background');
  $foreground-palette: map.get($color-config, 'foreground');

  .user-avatar-group {
    &__avatar {
      border: 2px solid mat.get-color-from-palette($background-palette, 'background');
      background-color: mat.get-color-from-palette($background-palette, unselected-chip);
      color: mat.get-color-from-palette($foreground-palette, text);
    }
  }
}

@mixin typography($typography-config) {
}

@mixin theme($theme, $typography-config) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  @if $typography-config != null {
    @include typography($typography-config);
  }
}
