<div class="post">
  <div *ngIf="isDesktop$ | async" class="post__side">
    <img class="post__side__image" [src]="post.createdBy.picture" alt="{{ post.createdBy.name }}'s picture" />
    <mat-divider class="post__side__line" [vertical]="true"></mat-divider>
  </div>
  <div class="post__main">
    <div class="post__main__header">
      <img
        *ngIf="!(isDesktop$ | async)!"
        class="post__main__header__image"
        [src]="post.createdBy.picture"
        alt="{{ post.createdBy.name }}'s picture"
      />
      <div class="post__main__header__details">
        <div class="post__main__header__details__name mat-subtitle-1">{{ post.createdBy.name }}</div>
        <div class="post__main__header__details__date mat-caption">12 mins ago</div>
      </div>

      <div class="flex-spacer"></div>

      <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
    </div>

    <div class="post__main__body">
      <div class="post__main__body__text">{{ post.body }}</div>
      <img *ngIf="post.imageUrl" class="post__main__body__image" [src]="post.imageUrl" />
    </div>

    <div class="post__main__footer">
      <button mat-button color="primary"><mat-icon>favorite</mat-icon>43</button>
      <button mat-button (click)="showComments = true"><mat-icon>chat</mat-icon>4</button>
    </div>
    <mat-divider *ngIf="showComments"></mat-divider>

    <div *ngIf="showComments" class="post__main__comments">
      <app-comment *ngFor="let comment of comments$ | async" [comment]="comment"></app-comment>
    </div>
  </div>
</div>
