.group-header {
  display: block;

  &__picture {
    width: 100%;
    aspect-ratio: 27 / 10;
    border-radius: 8px;
    object-fit: cover;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    padding: 24px 0px 16px 0px;

    &--mobile {
      display: grid;
      grid-template-columns: 1fr 1fr;

      > * {
        grid-column: span 2;
      }

      :nth-child(2) {
        grid-column: span 1;
      }

      :last-child {
        grid-row: 2;
        grid-column: 2/3;
        justify-self: end;
      }
    }

    &__name {
      margin-bottom: 8px;
      flex-basis: 100%;
    }

    &__members {
      cursor: pointer;
    }
  }
}
