<app-page-container class="group-header" *ngIf="group$ | async as group">
  <img class="group-header__picture" [src]="group.picture" />
  <div class="group-header__details">
    <div class="group-header__details__name mat-headline-5">{{ group.name }}</div>
    <div class="flex-spacer"></div>
    <div class="flex-spacer"></div>
    <app-event-create-button></app-event-create-button>
    <button mat-button [matMenuTriggerFor]="menu.menu"><mat-icon> edit </mat-icon> Edit Group</button>
    <app-group-options-menu #menu="groupOptionsMenu" [group]="group"></app-group-options-menu>
    <div class="group-header__details__description">{{ group.members.length }} members</div>
  </div>

  <nav class="group-header__tabs" mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false" mat-align-tabs="start">
    <a
      mat-tab-link
      *ngFor="let link of links"
      [routerLink]="link.link"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ link.label }}
    </a>
  </nav>
</app-page-container>
<mat-divider></mat-divider>
<mat-tab-nav-panel #tabPanel>
  <app-page-container>
    <ng-content></ng-content>
  </app-page-container>
</mat-tab-nav-panel>
