<div class="group-header" *ngIf="group$ | async as group">
  <div class="group-header__picture"></div>
  <div class="group-header__details">
    <div class="group-header__details__name mat-headline-5">{{ group.name }}</div>
    <div class="group-header__details__description">{{ group.description }}</div>
  </div>

  <nav class="group-header__tabs" mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false" mat-align-tabs="start">
    <a
      mat-tab-link
      *ngFor="let link of links"
      (click)="activeLink = link"
      [active]="activeLink.label === link.label"
      [routerLink]="link.link"
    >
      {{ link.label }}
    </a>
  </nav>
</div>
<mat-divider></mat-divider>
<mat-tab-nav-panel #tabPanel>
  <app-page-container>
    <ng-content></ng-content>
  </app-page-container>
</mat-tab-nav-panel>
