.group-header {
  display: block;

  &__picture {
    width: 100%;
    aspect-ratio: 27 / 10;
    border-radius: 8px;
    object-fit: cover;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 24px 0px 16px 0px;

    &__name {
      margin-bottom: 16px;
    }

    &__members {
      flex-basis: 100%;
      cursor: pointer;
    }
  }
}
