<dialog-form>
  <dialog-form-title>{{ data.title }}</dialog-form-title>

  <form dialog-form-body class="event-upsert-form" [formGroup]="eventUpsertForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Start Time</mat-label>
      <input matInput type="datetime-local" placeholder="start date" formControlName="timeStart" />
      <mat-error>{{ eventUpsertForm.get('timeStart')?.errors?.['invalidDate'] }} </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>End Time</mat-label>
      <input matInput type="datetime-local" placeholder="end date" formControlName="timeEnd" />
      <mat-error>{{ eventUpsertForm.get('timeEnd')?.errors?.['invalidDate'] }} </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Location</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
  <div dialog-form-footer>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      (click)="submit()"
      [disabled]="eventUpsertForm.invalid || eventUpsertForm.pristine"
      [loadingSpinner]="(isSubmitting$ | async)!"
    >
      {{ data.submitText }}
    </button>
  </div>
</dialog-form>
