.event-organizer-card {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  &__image {
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__details {
    &__name {
      margin-top: 4px;
    }
  }
}
