.event-header {
  padding: 24px 32px 0px 32px;

  &__picture {
    width: 100%;
    height: 240px;
    border-radius: 8px;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 24px 0px 16px 0px;

    &__name {
      margin-bottom: 16px;
    }

    &__description {
      flex-basis: 100%;
    }
  }
}
