.event-header {
  display: flex;
}

.event-header .event-header__main {
  max-width: 100%;

  flex-grow: 1;

  &__picture {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 0px 16px 0px;

    &__name {
      margin-bottom: 8px;
    }

    &__description {
      flex-basis: 100%;
    }
  }
}

.event-header .event-header__side {
  margin-left: 72px;
  min-width: 288px;
  max-width: 360px;
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
