.event-group-card {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  &__image {
    width: 104px;
    height: 56px;
    object-fit: cover;
    border-radius: 4px;
  }

  &__details {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &__name {
      margin-bottom: 4px;
    }
  }
}
