<div class="group-member">
  <img
    class="group-member__picture"
    src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745"
    alt="..."
  />
  <div class="group-member__details">
    <div class="group-member__details__name mat-body-1">{{ groupMember.id }}</div>
    <div class="group-member__details__joined">Joined {{ groupMember.createdAt | date: 'LLL d, yyy' }}</div>
  </div>
  <div class="flex-spacer"></div>
  <button class="group-member__options" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="group-member__options__icon">more_vert</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Remove</span>
  </button>
</mat-menu>
