<div class="group-member" *ngIf="groupMember.user as user">
  <img class="group-member__picture" [src]="user.picture" alt="User Image" />
  <div class="group-member__details">
    <div class="group-member__details__name mat-body-1">{{ user.name }}</div>
    <div class="group-member__details__joined">Joined {{ groupMember.createdAt | date: 'LLL d, yyy' }}</div>
  </div>
  <div class="flex-spacer"></div>
  <button
    *ngIf="(currentUser$ | async)?.isOrganizer"
    class="group-member__options"
    mat-icon-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon class="group-member__options__icon">more_vert</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="removeGroupMember()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Remove From Group</span>
  </button>
  <button mat-menu-item *ngIf="!groupMember.isOrganizer" (click)="makeGroupOrganizer()">
    <mat-icon>social_leaderboard</mat-icon>
    <span>Make Group Organizer</span>
  </button>
</mat-menu>
