<div class="event" [routerLink]="['/groups', event.groupId, 'events', event.id]">
  <img
    class="event__picture"
    [src]="event.picture || 'https://res.cloudinary.com/dmtvchdf2/image/upload/v1679443870/cld-sample-2.jpg'"
  />
  <div class="event__body">
    <div class="event__body__header">
      <div class="event__body__header__time mat-body-1">{{ event.timeStart | date: 'E, LLL d, h:mm a' }}</div>
      <div class="mat-headline-6">{{ event.name }}</div>
      <div class="event__body__header__address">
        <mat-icon>location_on</mat-icon>
        <span> {{ event.address }}</span>
      </div>
    </div>

    <div class="event__body__footer">
      <ng-container *ngIf="attendees$ | async as attendees">
        <app-user-avatar-group [users]="attendees" [max]="4"></app-user-avatar-group>
      </ng-container>
      <div class="flex-spacer"></div>
      <div *ngIf="currentUserAsAttendee$ | async as userAttendee">
        <button mat-stroked-button *ngIf="userAttendee.isGoing === undefined">Attend</button>
        <div
          class="event__body__footer__button"
          [ngClass]="{ 'event__body__footer__button--not-going': !userAttendee.isGoing }"
          *ngIf="!userAttendee.isGoing"
        >
          <mat-icon color="warn">cancel</mat-icon>
          <span> Not Going</span>
        </div>
        <div
          class="event__body__footer__button"
          [ngClass]="{ 'event__body__footer__button--going': userAttendee.isGoing }"
          *ngIf="userAttendee.isGoing"
        >
          <mat-icon>check_circle</mat-icon>
          <span> Going</span>
        </div>
      </div>
    </div>
  </div>
</div>
