<div class="event mat-elevation-z1" [routerLink]="event.id">
  <div class="event__picture"></div>
  <div class="event__body">
    <div class="event__body__header">
      <div class="event__body__header__time mat-body-1">{{ event.timeStart | date: 'E, LLL d, h:mm a' }}</div>
      <div class="mat-subtitle-1">{{ event.name }}</div>
    </div>
    <div class="event__body__details">
      <div class="event__body__details__group" *ngIf="group$ | async as group">{{ group.name }}</div>
    </div>

    <div class="event__body__going">
      <div>{{ event.attendees.length }} attendees</div>
      <button mat-stroked-button color="primary" (click)="$event.stopPropagation()">
        <span>Going</span>
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>
</div>
