<div class="event mat-elevation-z1" [routerLink]="[event.id]">
  <img class="event__picture" [src]="event.picture" />
  <div class="event__body">
    <div class="event__body__header">
      <div class="event__body__header__time mat-body-1">{{ event.timeStart | date: 'E, LLL d, h:mm a' }}</div>
      <div class="mat-subtitle-1">{{ event.name }}</div>
    </div>

    <div class="event__body__going">
      <div>{{ attendeeCount$ | async }} attendees</div>
      <!-- <app-event-going-button [event]="event"></app-event-going-button> -->
    </div>
  </div>
</div>
