.event {
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__picture {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin-right: 16px;
  }

  &__body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
      margin-bottom: 16px;

      &__address {
        gap: 4px;
        margin-top: 8px;
        display: flex;
        align-items: flex-end;
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__button {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
        padding: 8px;
        border-radius: 24px;
      }
    }
  }

  &__options {
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  }
}
