@use '@angular/material' as mat;
@use 'styles/themes/light-theme.scss' as light-theme;
@use 'styles/themes/dark-theme.scss' as dark-theme;
@use 'styles/typography.scss' as type;
@use './styles/components' as components;

@include mat.core();
@include mat.all-component-typographies(type.$typography);
@include mat.all-component-themes(light-theme.$theme);
@include components.theme(light-theme.$theme, type.$typography, light-theme.$variants);

.dark-theme {
  @include mat.all-component-themes(dark-theme.$theme);
  @include components.theme(dark-theme.$theme, type.$typography, dark-theme.$variants);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.flex-spacer {
  flex-grow: 1;
}

.mat-typography {
  .mat-headline-1,
  .mat-headline-2,
  .mat-headline-5,
  .mat-headline-6,
  .mat-subtitle-1,
  .mat-subtitle-2,
  .mat-body-1,
  .mat-body-2,
  .mat-caption {
    margin: 0;
  }
}

.secondary-text-color {
  opacity: 0.74;
}
