@use '@angular/material' as mat;
@use 'styles/theme.scss' as theme;
@use 'styles/typography.scss' as type;

@include mat.core();
@include mat.all-component-typographies(type.$typography);
@include mat.all-component-themes(theme.$light-theme);

.dark-theme {
  @include mat.all-component-themes(theme.$dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
