<mat-menu #menu="matMenu">
  <button *ngIf="isCurrentUserAssigned$ | async; else assignedUser" mat-menu-item (click)="unassignTask()">
    <mat-icon>close</mat-icon>
    <span>Un-Assign Myself</span>
  </button>
  <ng-template #assignedUser>
    <button mat-menu-item (click)="assignTask()">
      <mat-icon>back_hand</mat-icon>
      <span>Assign Myself</span>
    </button>
  </ng-template>
  <button mat-menu-item (click)="editTask()">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item color="warn" (click)="deleteTask()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
