<card>
  <div class="event-time-location">
    <div class="event-time-location__row">
      <mat-icon class="event-time-location__row__icon">event</mat-icon>
      <span class="event-time-location__row__value"> {{ event.timeStart | date: 'EEEE, MMMM d, y' }} </span>
    </div>

    <div class="event-time-location__row">
      <mat-icon class="event-time-location__row__icon">schedule</mat-icon>
      <span class="event-time-location__row__value">
        {{ event.timeStart | date: 'h:mm a' }} - {{ event.timeEnd | date: 'h:mm a z' }}
      </span>
    </div>

    <div class="event-time-location__row">
      <mat-icon class="event-time-location__row__icon">location_on</mat-icon>
      <span class="event-time-location__row__value"> {{ event.address }} </span>
    </div>
  </div>
</card>
