<button mat-button class="user-dropdown" [matMenuTriggerFor]="menu" *ngIf="user$ | async as user; else loggedOut">
  <img matButtonIcon class="user-dropdown__picture" [src]="user.picture" alt="User Image" />
  <span>{{ user.firstName }}</span>
  <mat-icon iconPositionEnd>expand_more</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
  <app-user-theme-toggle></app-user-theme-toggle>
</mat-menu>

<ng-template #loggedOut>
  <button mat-flat-button color="primary" (click)="login()">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
</ng-template>
